# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# binaries
build/
bin/
build-mpi/
build-static/
release/

# Eclipse project files
.cproject
.project
.settings/

# sbatch and data files
*.sbatch
*.phy

# clangd files
.clangd

# Ignore the .clang-format file, as it's not applied to the whole project to keep in line
# with the formating of the main repo.
.clang-format

compile_commands.json